{
    "semi": true,
    "tabWidth": 4,
    "singleQuote": true,
    "endOfLine": "lf",
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.{ts,tsx}",
            "options": {
                "parser": "typescript",
                "tabWidth": 4
            }
        }
    ]
}